@use 'variables' as *;
@use '@angular/material' as mat;

html,
body {
  height: 100%;
  background-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

:root {
  @include mat.table-overrides(
    (
      row-item-outline-width: 2px,
      header-headline-size: 20px,
      header-headline-color: var(--background-color),
      row-item-outline-color: var(--primary-color),
    )
  );
}
