$primary-color: #704170;
$warn-color: #f44336;
$background-color: #f5d7f5;
$secondary-text: #757575;

$secondary-color: #4a192c;

$focused: #e9bfbb;
$light-purple: #d6a6d8;

:root {
  --primary-color: #{$primary-color};
  --warn-color: #{$warn-color};
  --background-color: #{$background-color};
  --secondary-text: #{$secondary-text};

  --focused: #{$focused};

  --light-purple: #{$light-purple};

  --secondary-color: #{$secondary-color};
}
