<mat-toolbar class="mat-container custom-toolbar">
  <div class="start-container">
    <button mat-icon-button (click)="sidenav.toggle()" class="icon-button">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/dashboard" routerLinkActive="active"><h3>Clinica</h3></a>
  </div>

  @if (isLoggedIn) {
    <div class="end-container">
      <small>{{ username }}</small>
      <button
        mat-icon-button
        aria-label="Cerrar Sesión"
        (click)="logOut()"
        [attr.inert]="isLoading ? '' : null"
        class="icon-button"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  }
</mat-toolbar>

<mat-sidenav-container (backDropClick)="sidenav.close()">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-sidebar />
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
