.mat-mdc-dialog-content {
    max-width: 20rem;
  }
  
  mat-icon {
    width: 100%;
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .mat-mdc-dialog-actions {
    justify-content: end;
  }